{% extends "base_template.html" %}
{% block title %}Login{% endblock %}

{% block content %}

    <div class="centered-div">
      <form class="login-div">
        <img
          draggable="false"
          class="mb-2"
          src="../static/assets/Transparent_NollvaPM_Logo.png"
          alt=""
          width="100"
          height="100"
        />
        <h1 class="h3 mb-3 fw-normal">Account Login</h1>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating my-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <!-- <div class="form-check text-start my-3">
          <input
            class="form-check-input"
            type="checkbox"
            value="remember-me"
            id="checkDefault"
          />
          <label class="form-check-label" for="checkDefault">
            Remember me
          </label>
        </div> -->
        <button class="btn btn-primary w-100 py-2" type="submit">
          Login
        </button>
      </form>

      <p class="mt-4 text-center">
          Don't have an account? <a href="/signup" class="text-decoration-none">Sign up</a>
        </p>


    </div>

{% endblock %}